<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>

    <add name="student" connectionString="Data Source=.;Initial Catalog=school_system;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <!--<add name="sfglobally" connectionString="Data Source=SQL5049.site4now.net;Initial Catalog=DB_A48028_Customs;User Id=DB_A48028_Customs_admin;Password=D@n1shpuri;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

</configuration>